<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Billy McGrath professional website">
    <title>Billy McGrath</title>
</head>
<body onload="addYear()">
    
    <header><h1 id="webname">Billy McGrath</h1> 
        <nav><a href="../index.html">Home</a>
            <a href="cv.html">Resume</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a></nav>
    </header>
    <div class="main"><h2>Contact Me</h2></div>
    <form>
        <centered>Your name(required)</centered>
        <input type="text" id="name" name="name" required>
        <centered>your email(required)</centered>
        <input type="text" id="email" name="email" required>
        <centered>your comment(required)</centered>
        <input type="text" id="comment" name="comment" required>
        <input type="submit" value="submit" onclick="checkValid()">
        <centered id = "valid">Nuh uh, you need to make sure your inputs are valid</centered>
    </form>
    
    <ul>
        <li>Email: Wpmcgrat@andrew.cmu.edu</li>
        <li>Phone: 412-889-8103</li>
    </ul>
    <footer><p id = "copyYear"> designed and coded by Billy McGrath &#169; </p></footer>
</body>
</html>