<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="author" content="your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Billy McGrath professional website">
    <title>Billy McGrath</title>
</head>
<body onload="addYear()">
    <header><h1 id="webname">Billy McGrath</h1> 
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">Resume</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a></nav>
    </header>
    <div class="main"><h2>Cirriculum Vitae</h2></div>
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>Red Bird Family Homes</td>
            <td>Performed various tasks related to house flipping such as scraping wallpaper, painting, materials procurement, and landscaping</td>
        </tr>
        <tr>
            <td>Bill Gray Volvo</td>
            <td>Assisted the head automotive detailer, exceeded customer and employer expectations while navigating a fast-paced team-oriented environmen</td>
        </tr>
        <tr>
            <td>Bill Gray Volvo</td>
            <td>Assisted the head automotive detailer, exceeded customer and employer expectations while navigating a fast-paced team-oriented environmen</td>
        </tr>
        <tr>
            <td>Bill Gray Volvo</td>
            <td>Assisted the head automotive detailer, exceeded customer and employer expectations while navigating a fast-paced team-oriented environmen</td>
        </tr>
    </table>
    <a href="../static/Resume.pdf">My resume</a>
    <footer><p id = "copyYear"> designed and coded by Billy McGrath &#169; </p></footer>
</body>
</html>